@import url(http://fonts.googleapis.com/css?family=Black+Ops+One);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300);

body { 
   background-color: black;
    font-family: 'lato';
}
.Germanfight {
    height: 400px;
    width: 550px;
    margin-top: -740px;
    margin-left: -550px;
    position: absolute;
}
.map {
   height: 200px;
    width: 300px;
    position:absolute;
    left: 950px;
    margin-top: -410px;
}
#mapdiv {
    height: 30px;
    width:296px;
    position: absolute;
    margin-top: -528px;
    left: 950px;
    border: 2px solid white;
    text-align: center;
    font-family: "black ops one";
    background-color: #59B2FC;
    
}

.bodyp {
    color: white;
}
.bodyp2 {
    color: white;
    margin-left: 600px;
    margin-top:-15px
}
.bodyp3 {
    color: white;
    margin-top: -15px;
    padding-left:600px;
    padding-right: 400px;
}
.bodyp4 {
    color: white;
    margin-right: 325px;
    margin-top: -15px;
}
.bodyp5 {
    color: white;
/*    font-family: "lato";*/
    top: -px;
}
.titleheader {
    color: white;
    font-family: "Black ops one";
    margin-left: 590px;
    margin-top:100px;
    position: relative;
    text-decoration: underline;
}
.water {
    position: relative;
    left: 410px;
    top: 100px;
    height:250px;
    width: 300px;
}
.objblink {
    z-index: 1;
    position: relative;
    height:400px;
    width:700px;
    left: -95px;
    top:120px;
}
.Nuke2 {
    position: relative;
    z-index: 1;
    left: 590px;
    top: 36px;
    height: 150px;
    width: 55px;
    opacity: 0.1;
    
}
.Nuke {
    position: relative;
    top: 2px;
    margin-left: 600px;
}
.footerdiv {
    position: relative;
    height: 60px;
    width:1280px;
    background-color: grey;
    top: 1000px;
    left: -8px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/*
.Callofduty.animated.bounceIn{
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
*/

#overlay {
    position: relative;
}

/*
.Light{-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    width:50%; height:50%}


img:hover{opacity:0}
*/
/****the blinking animation for the light****/
@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
.objblink {
-webkit-transition: all 100s ease-in-out;
    -moz-transition: all 100s ease-in-out;
    -o-transition: all 100s ease-in-out;
    -ms-transition: all 100s ease-in-out;
    transition: all 100s ease-in-out;
    
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 100s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: ease-in-out;
    
-moz-animation-direction: normal;
    -moz-animation-duration: 100s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: blink;
    -moz-animation-timing-function: ease-in-out;    
}
.Nuke2.animated.fadeInUp{
    -webkit-animation-delay: 5.5s;
    animation-delay: 5.5s;
    animation-duration: 100.5s;
}
/***********************************************/



a {
    text-decoration: none;
    color: yellow
}   

@-webkit-keyframes pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

a {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
a:hover, a:focus, a:active {
  -webkit-animation-name: pulse-grow;
  animation-name: pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
/******Country's*****/
.USA {
    height: 100px;
    width: 200px;
    position: absolute;
    left: 150px;
    top: 410px;
}
.GB {
    height:100px;
    width:200px;
    position: absolute;
    left: 20px;
    top: 270px
}
.SV {
    height: 100px;
    width: 200px;
    position: absolute;
    left: 240px;
    top: 270px;
}
.EJ {
    height:100px;
    width: 200px;
    position: absolute;
    right: 250px;
    top: 270px;
}
.Italy {
    height: 100px;
    width: 200px;
    position: absolute;
    right: 20px;
    top: 270px;
}
.Nazi {
    height: 100px;
    width: 200px;
    position: absolute;
    right: 150px;
    top: 410px;
    
}




    
    